body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(images/backdrop.jpg);
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(2px);
  color: black;
  box-sizing: border-box;
}

form {
  color: black;
}

#login-box {
  background: linear-gradient(white , lightgrey);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#spin:hover,
#spin1:hover {
  background: #ed5405;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ed5405, 0 0 10px #ed5405, 0 0 10px #ed5405,
    0 0 20px #ed5405;
}

#password {
  background: #fff;
  padding: 2px;
  display: flex;
  align-items: center;
}

#password image {
  margin-right: 10px;
  max-height: 25px;
  max-width: 25px;
}

#icon {
  max-height: 25px;
  max-width: 25px;
  margin: 3px;
  padding: 2px;
}
.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
  font-weight: bold;
  color: #024e1b;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


input:checked + .slider {
  transform: translateX(112px);
}

/* Ensure text remains visible */
#buyer,
#seller {
  position: relative;
  z-index: 1;
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: white;
}
